.input-wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
    width: 400px;

    &.wide {
        width: 100%;
    }
}

.AppInput {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    &.primary {
        background-color: #00c;
    }

    &.secondary {
        background: none;
    }

    &.disabled {
        opacity: 0.8;
    }

    &::placeholder {
        color: var(--secondary-color);
    }
}
