@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/green";

.App {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-m);
    position: relative;
}

.app-content-container {
    display: flex;
    height: calc(100vh - var(--navbar-height));
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
    height: 100%;
}

.error-invoker {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
