.AddCommentForm {
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    margin-bottom: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 40px 20px;
    position: relative;
    column-gap: 40px;
}
