.AppText {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.primary {
        color: var(--primary-color);
    }

    &.secondary {
        color: var(--secondary-color);
    }

    &.critical {
        color: var(--critical-color);
    }
}

.title {
    font: var(--font-l);
}

.text {
    font: var(--font-m);
}
