.App.dark {
    --bg-color: #000;
    --primary-color: #fff;
    --secondary-color: #c1c1c1;
    --navbar-bg-color: #1c1c1c;
    --modal-bg-color: #1c1c1c;
    --main-sidebar-bg-color: #3c3c3c;
    --primary-link-color: #f00;
    --secondary-link-color: #a00;
}
