.dark-theme {
    --bg-color: #000;
    --primary-color: #fff;
    --secondary-color: #c1c1c1;
    --navbar-bg-color: #1c1c1c;
    --modal-bg-color: #1c1c1c;
    --main-sidebar-bg-color: #3c3c3c;
    --primary-link-color: #fff;
    --secondary-link-color: #c1c1c1;

    // Skeleton
    --skeleton-color1: #000;
    --skeleton-color2: #454545;
    --skeleton-shadow: rgb(255 255 255 / 50%);

    // Code
    --code-bg-color: #414141;
}
