.green-theme {
    --bg-color: #174f00;
    --primary-color: #fff;
    --secondary-color: #c1c1c1;
    --navbar-bg-color: #1ea200;
    --modal-bg-color: #1ea200;
    --main-sidebar-bg-color: #096a00;
    --primary-link-color: #f00;
    --secondary-link-color: #a00;
    --skeleton-color1: #174f00;
    --skeleton-color2: #2d9900;
    --skeleton-shadow: rgb(0 0 0 / 50%);
}
