.App.light {
    --bg-color: #fff;
    --primary-color: #000;
    --secondary-color: #3f3f3f;
    --navbar-bg-color: #b2b2b2;
    --modal-bg-color: #b2b2b2;
    --main-sidebar-bg-color: #d2d2d2;
    --primary-link-color: #00f;
    --secondary-link-color: #00a;
}
