.light-theme {
    --bg-color: #fff;
    --primary-color: #000;
    --secondary-color: #3f3f3f;
    --navbar-bg-color: #b2b2b2;
    --modal-bg-color: #b2b2b2;
    --main-sidebar-bg-color: #d2d2d2;
    --primary-link-color: #000;
    --secondary-link-color: #3f3f3f;

    // Skeleton
    --skeleton-color1: #ccc;
    --skeleton-color2: #fff;
    --skeleton-shadow: rgb(0 0 0 / 50%);

    // Code
    --code-bg-color: #cacaca;
}
