.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-buttons {
    display: flex;
    align-items: flex-start;
    column-gap: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.avatar {
    margin-bottom: 10px;
}
