.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.sort {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.search {
    margin-bottom: 8px;
}
