.appLink {
  text-decoration: none;
  
  &.primary {
    color: var(--primary-link-color);

    &:visited {
      color: var(--primary-link-color);
    }

    &.outline {
      outline: 1px solid var(--primary-link-color);
      font-size: 20px;
    }
  }

  &.secondary {
    color: var(--secondary-link-color);
    &:visited {
      color: var(--secondary-link-color);
    }
    &.outline {
      outline: 1px solid var(--secondary-link-color);
    }
  }
  
  &.underline {
    text-decoration: underline;
  }
}