.AppLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 5px;

    &.primary {
        color: var(--primary-link-color);

        svg {
            fill: var(--primary-link-color) !important;
        }

        &:visited {
            color: var(--primary-link-color);
        }

        &.outline {
            outline: 1px solid var(--primary-link-color);
        }
    }

    &.secondary {
        color: var(--secondary-link-color);

        svg {
            fill: var(--secondary-link-color) !important;
        }

        &:visited {
            color: var(--secondary-link-color);
        }

        &.outline {
            outline: 1px solid var(--secondary-link-color);
        }
    }

    &.underline {
        text-decoration: underline;
    }
}
